{% extends 'layout.html' %}

{% block head %}
    {{ super() }}
    {% if not user.is_teacher and not user.pc %}
        <script src="/static/login.js" defer></script>
    {% endif %}
    {% if user.pc %}
        <script src="/static/index.js" defer></script>
    {% endif %}
{% endblock %}

{% block content %}

    {% if user.is_teacher %}
        <p><a href="/config" class="button">Настройки</a></p>
    {% else %}
        {% if user.pc and status != "run" %}
            <form action="/logout">
                <p><b>Номер компьютера: </b>{{ user.pc }}</p>
                <p><b>Имя:</b>{{ user.name }}</p>
                <p><i>(Обратитесь к учителю, если эта информация неверна)</i></p>
                <p><button type="submit">Выйти</button> 
            </form>

        {% elif user.pc and status == "run" and not kladsNo %}

            <form action="/klad" method="POST" class="kladform">
                <p><label for="klad">Клад:</label><input id="klad"><button type="submit">Отправить</button></p>
            </form>

        {% elif user.pc and status == "run" and kladsNo %}
            <p>Вы нашли все клады..</p>
        {% else %}
            <form action="/login" method="POST">
                <p><label for="pc-number">Номер компьютера (&lt;кабинет&gt;-&lt;компьютер&gt;)</label></p>
                <p><input id="pc-number" placeholder="<кабинет>-<компьютер>" required/></p>
                <p><label for="name">ФИО</label></p>
                <p><input id="name" placeholder="Тест Тестовский" required/></p>
                <p><button type="submit">Войти</button></p>
            </form>
        {% endif %}
        {% if status == "starting" %}
            <p class="check" style="display:block;">Подготовка к началу игры...</p>
        {% else %}
            <p class="check">Ваш компьютер проверяется, пожалуйста подождите...</p>
        {% endif %}
    {% endif %}
{% endblock %}
